<div class="section">
  <div class="slider">
    <div class="container slidercontent">
      <h1 class="hero">What's In Your Cup?</h1>
      <h3 class="hero">Photo Recognition Software</h3>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">STEP 1</h1>
      <p>Grab a Glass</p>
        <div class="imgholder"></div>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">STEP 2</h1>
      <p>Pour Alcohol</p>
        <div class="imgholder"></div>
    </div>
    <div class="responsivegroup"></div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">STEP 3</h1>
      <p>Snap a Pic</p>
        <div class="imgholder"></div>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">STEP 4</h1>
      <p>Get Results</p>
        <div class="imgholder"></div>
    </div>
    <div class="group"></div>
  </div>
</div>
<% f=  @obj.find %>
<%= f %>

<!-- <%= form_tag(render '/search', method: :get) do %>
  <div><%#= submit_tag 'Submit' %></div>
  <input type="text" autocomplete="off" name="text" id="hiddenInput" >

  <button id="mainbutton" class="Drink_Submit" name="EnterSite" type="submit">Submit</button>

  <% end %> -->
